*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'goldplay';
  src: url('../public/fonts/goldplay-bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

:root {
  /* Fonts */
  --title:'Lobster Two', 'goldplay';
  --subtitle:'Playfair Display','goldplay';
  --text: 'Open Sans',sans-serif;

  /* Color text */
  --primary: #343434;
  --secondary: #3884fd;
  --tertiary: #f4f4f4;

  /* background-color */
  --bg-primary: #f4f4f4;
  --bg-secondary: #343434;
  --bg-tertiary: #3884fd;

  /* Botton color */
  --btn-primary: #3884fd;
  --btn-secondary: #343434;

  /* Optional colors */
  --optional1:#679436;
  --optional2: #e01e00;
  
   /* Scrollbar Color */
   --bg-opac:#5958581a;
   --bg-thumb:#34343452;
}

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg-opac);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-thumb);
  border-radius: 15px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-thumb) var(--bg-opac);
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg-opac);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-thumb);
  border-radius: 15px;
}

*::-moz-scrollbar {
  width: 5px;
  background-color: var(--bg-opac);
  border: 0;
  border-radius: 15px;
  border-image:
    linear-gradient(to bottom, var(--bg-opac), var(--bg-thumb)) 1 100%;
}

*::-moz-scrollbar-thumb {
  background-color: var(--bg-thumb);
  border-radius: 15px;
}