
@font-face {
  font-family: 'goldplay';
  src: url('../public/fonts/goldplay-bold.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

:root {
  /* Fonts */
  --title: 'goldplay';
  
  --text: sans-serif;
/* NOTA sans-serif mientras encontramos una mejor fuente para texto general. */

  /* Color text */
  --primary: #343434;
  --secondary: #3884fd;
  --tertiary: #f4f4f4;

  /* background-color */
  --bg-primary: #f4f4f4;
  --bg-secondary: #343434;
  --bg-tertiary: #3884fd;

  /* Botton color */
  --btn-primary: #3884fd;
  --btn-secondary: #343434;

  /* Optional colors */
  --optional1:#679436;
  --optional2: #e01e00;
  
}
