.profileContainer{
    display: flex;
}

.navBar{
 width: 19%;
 height: 100%;
 background-color: rgb(241, 241, 241);
 border-right: 3px solid rgba(234, 234, 234, 0.475);
}

.title{
    font-size: 1.8em;
    font-weight: 600;
    color:black;
    text-align: center;
    padding: 30px 0px;
    /* margin-top: 30px; */
}

.ul{
padding:10px 0px;
list-style: none;
}

.li{
    border-right: 3px solid transparent;
    height: 50px;
    font-size: 1em;
    color:grey;
    padding: 10px 50px;
    transition: .3s;
    cursor:pointer;
}
.li span{
    color:grey;
    padding:15px 10px;
    transition: .3s;
}
.li:hover span{
    color:black
}

.liSelected span{
    padding:15px 10px;
    transition: .3s;
}

.liSelected{
    border-right: 3px solid transparent;
    height: 50px;
    font-size: 1em;
    color:grey;
    padding: 10px 50px;
    transition: .3s;
    cursor:pointer;
    border-right: 3px solid rgb(88, 176, 231);
    background-color: rgb(216, 236, 255);
    color:rgb(78, 132, 187);
    font-weight: 600;
}

.li:last-child{
    border-right: 3px solid transparent;
    height: 50px;
    font-size: 1.1em;
    font-weight: 600;
    color:rgb(178, 45, 45);
    padding: 10px 50px;
    transition: .3s;
    cursor:pointer;
    margin-top: 250px;
}

.li:hover{
    border-right: 3px solid rgb(88, 176, 231);
    background-color: rgb(234, 234, 234);
    color:black;
}

.li:last-child:hover{
    border-right: 3px solid rgb(232, 79, 79);
    background-color: rgb(250, 182, 182);
    color:rgb(82, 0, 0);
}

/* INFO MENU */

.menu{
    /* background-color: red; */
    width:82vw;
    height: 100vh;
    overflow: scroll;
}

.infoMenu{
    /* background-color: red; */
    width: 62vw;
    margin-left: 10vw;
    margin-top: 10vh;
    height: 80vh;
    opacity:0;
    animation: aparecer .3s ease-in-out forwards;
}

.resumeInfo{
    display: flex;
    width: 100%;
    height: 120px;
    /* background-color: blue; */
}

.imgProfile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgba(211, 211, 211, 0.453);
    transition:.2s;
    outline: 3px solid white;
  z-index: -1;
  margin-left:-120px;
}

.imgProfile:hover{
    /* width: 300px; */
    filter:brightness(.65);
    cursor:pointer;
}

/* .inputFile::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    content: 'Seleccionar';
    width: 10px;
    height: 10px;
    position: relative;
    /* margin-left: -50px; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
  } */

.inputFile{
    margin-left: -100px;
    /* position: absolute;  */
    width: 120px;
    height: 120px;
    background-color: black;
    opacity: 1;
    border-radius: 50%;
    transition: .3s;
    color: green;
    z-index: 10;
    cursor:pointer;
    opacity: 0;
    margin-left: 0px;
}
.inputFile:hover + .imgProfile{
    filter:brightness(.65);
    cursor:pointer;
    /* opacity:0; */
}
.name{
    margin-top: 30px;
    padding-left:30px;
    font-size: 1.3em;
    color:black;
    font-weight: 600;
}
.email{
    padding-left:31px;
    font-size: .85em;
    color:rgb(136, 136, 136);
    font-weight: 0;
}

.form{
    margin-top: 40px;
    width: 600px;
    justify-content: space-around;
    display: flex;
}

.saveChanges{
    margin-top: 50px;
    margin-left: 210px;
    padding: 8px 60px;
    font-size: 1.1em;
    background-color: var(--btn-primary);
    border: 0;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    width: 200px;
}
.editChanges{
    margin-top: 50px;
    margin-left: 210px;
    padding: 8px 60px;
    font-size: 1.1em;
    background-color: rgb(42, 136, 42);
    border: 0;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    width: 200px;
}

/* INPUTS */

.input{
    /* margin-left: -100px; */
    margin-top: 30px;
}
.inputForm[readOnly]{
    color: grey;
}

.inputForm{
    /* margin-top: 60px; */
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 2px;
    /* text-align: center; */
    padding: 0px 14px;
    font-size: 1em;
    transition: .1s;
    background-color: transparent;
    outline: 1px solid rgba(190, 190, 190, 0.447);
    z-index: 0;
    position:relative;
}

.inputForm:focus{
    outline: 1px solid var(--btn-primary);
}

.inputForm:focus + .placeholder{
    transform: scale(.75) translateY(-25px) translateX(-10px);
  color: var(--btn-primary);
  z-index: 300;
}

.placeholder {
    /* position: absolute; */
    margin-top: 7px;
    margin-left: -240px;
    font-size: 1em;
    padding: 0 9px;
    background-color: #f4f4f4;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1), opacity 150ms cubic-bezier(0.4,0,0.2,1);
    color: grey;
    /* background-color: red; */
    /* width: 100px; */
  }
  .placeholder:hover{
    cursor:text
  }

  .inputForm:not(:placeholder-shown).inputForm:not(:focus) + .placeholder {
    z-index: 300;
    transform: scale(.75) translateY(-25px) translateX(-10px);
    color: rgb(85, 85, 85);
  }

/* GIFT MENU */

.giftMenu{
    /* background-color: red; */
    text-align: center;
    opacity:0;
    animation: aparecer .3s ease-in-out forwards;
}

@keyframes aparecer{
    100%{
        opacity:1;
    }
}

.imgGift{
    margin-top: 150px;
    width: 80px;
}

.titleGift{
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color:rgb(114, 114, 114);
    font-weight: 600;
    width: 400px;
}

/* LOCAL MENU */

.myLocals{
    opacity:0;
    animation: aparecer .3s ease-in-out forwards;
}

.titleLocal{
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-top: 6vh;
    color:black;
}

.localContainer{
    /* background-color: red; */
    width: 60vw;
    margin-left: 11vw;
    margin-top: 13vh;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-template-rows: 200px;
    grid-template-columns: 200px;
}

.local{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* REVIEWS */

.reviewContainer{
    margin-top: 40px;
    border-radius: 20px;
    background-color: white;
    margin-left: 10vw;
    width: 60vw;
    box-shadow: 0px 0px 5px 5px rgba(230, 230, 230, 0.358);
    padding: 20px 50px;
    margin-bottom: 50px;
}

.detailReview{
    display: flex;
    flex-direction: row;
}

.dateReview{
    color:rgb(161, 161, 161);
    font-size: .85em;
}

.titleReview{
    color:black;
    font-size: 1.6em;
    /* margin-bottom: 10px; */
}

.commentReview{
    margin-top: 15px;
    color: grey;
    margin-bottom: 10px;
}

.deleteReview{
    background-color: rgb(255, 178, 178);
    color:rgb(153, 25, 25);
    font-weight: 600;
    padding: 2px 30px;
    border: 0;
    border-radius: 10px;
    transition: .3s;
}

.deleteReview:hover{
    background-color: rgb(255, 122, 122);
    color:rgb(134, 12, 12);
}

@media screen and (max-width: 600px){
    .profileContainer{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        height: 100vh;
        /* position: absolute; */
    }
    .title{
        display: none;
    }
    .navBar{
        height: 30vh;
        width: 100vw;
        display: block;
        background-color: var(--bg-tertiary);
        border-right: none;
    }
    .ul{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        background-color: var(--bg-tertiary);
    }
    .li{
        padding: 5px 43px;
        color:white;
        font-size: 1.7em;
    }
    .li:last-child{
        margin:0;
        padding: 5px 43px;
        color:white;
        font-size: 1.7em;
        /* display: none; */
    }
    .li:last-child:hover{
        background-color: transparent;
        color:rgb(208, 59, 59);
        border-right: 3px solid transparent;
    }
    .li:hover{
        background-color: transparent;
        border-right: 3px solid transparent;
    }
    .liSelected{
        padding: 5px 43px;
        color:rgb(13, 13, 13);
        font-size: 1.7em;
    border-right: 3px solid transparent;
    background-color: transparent;
    }
    .li span{
        display: none;
    }
    .liSelected span{
        display: none;
    }
    .menu{
        width:100vw;
        height: 70vh;
        overflow: visible;
    }
    .infoMenu{
        margin:0;
    }
    .resumeInfo{
        margin:0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        /* background-color: rgb(121, 197, 15); */
        justify-content: center;
    }
    .inputFile{
        width:160px;
        height: 160px;
        box-shadow: none;
        outline: 3px solid white;
        margin-top: -110px;
        margin-left: 35%;
        /* transform: translateX(-50%); */
    }
    .buttonContainer{
        text-align: center;
        width: 100vw;
    }
    .imgProfile{
        width:160px;
        height: 160px;
        box-shadow: none;
        outline: 3px solid white;
        margin-top: -150px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .name{
        text-align: center;
        margin-top: 10px;
        margin-left: -30px;
    }
    .email{
        text-align: center;
        margin-left: -32px;
    }
    .form{
        margin-top: 50px;
        margin-left: 40%;
        /* transform: translateX(-); */
        flex-direction: column;
    }
    .titleLocal{
        margin-top: -70px;
        color:white;
    }
    .editChanges,
    .saveChanges{
        margin:30px 0px;
        /* width: 250px; */
    }
    .localContainer{
        flex-direction: column;
        gap:30px;
        margin-left: 20vw;
        width: 60vw;
        /* background-color: red; */
    }
    .local{
        width: 100%;
        height: 400px;
    }
    .reviews{
        margin-top: 60px;
    }
    .reviewContainer{
        width: 80vw;
    }
}