.userProfileContainer{
    height: calc(100vh - 60px);
    overflow: auto;
}
.userProfileText{
    text-align: center;
   
}
.userInfo{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.imgProfileContainer{

width: 150px;
height: 150px;
}

.imgProfile{
width: 100%;
height: 100%;
object-fit: contain;
}


.reviewContainer { 
    border:  1px solid black;
    padding: 2rem;
    margin: 1rem;
}