.Profile{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color:var(--bg-primary);
    gap: 2.5%;
}

.Profile .ProfileInfo{
    width: 350px;
    height: 100vh;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.Profile .ContainerSelection{
    width: calc(95% - 350px);
    height: 100vh;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ProfileInfo .ImageProfile{
    width: 300px;
    height: 250px;

}

.ProfileInfo .Info{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100vh - 300px);
    overflow: auto;
    margin: 20px 0px;
    gap: 10px;
}

.ProfileInfo .Info h2{
    font-size: 35px;
    font-weight: 700;
    font-family: var(--title);
}

.ProfileInfo.Info h3{
    font-size: 20px;
    font-weight: 700;
    font-family: var(--subtitle);
}

.ProfileInfo .Info div p{
    font-size: 14px;
    font-weight: 600;
    color: var(--primary);
    font-family: var(--text);
}

.ProfileInfo .Decorator{
    width: 90%;
    height: 3px;
    margin-top: 15px;
    background-color: var(--bg-tertiary);
    border-radius: 10px;
}

.Info .RatingGroup{
    display: flex;
    gap: 5px;
    align-items: center;
}
.Info .LocationGroup {
    display: flex;
    gap: 5px;
    align-items: center;
}
.Info .ScheduleGroup {
    display: flex;
    gap: 5px;
    align-items: center;
}
.Info .TelGroup {
    display: flex;
    gap: 5px;
    align-items: center;
}
.Info .EmailGroup {
    display: flex;
    gap: 5px;
    align-items: center;
}

.ContainerSelection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Options{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 5px;
}

.Options div{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: 0.1s;
    opacity: 0.8;
    background-color: rgb(213, 213, 213);
    cursor: pointer;
    
}

.Options div:hover {
    background-color: var(--bg-tertiary);
    opacity: 1;
}

.Options div:active{
    background-color: var(--bg-secondary);
    opacity: 1;
}

.Options div p{
    border-bottom: 2px solid var(--bg-tertiary);
    border-radius: 0 0 0 10px;
}

.Options div:hover p {
    border-bottom: 2px solid var(--bg-primary);
    border-radius: 0 0 0 10px;
}