.Menu-Form-Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.Menu-Form-Container .Menu-Form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}