.Menu-Form-Container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.Menu-Form-Container .Menu-Form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}