.Menu {
    width: 98%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu .Menu-Title {
    font-size: 60px;
}

.Menu .Menu-List {
    width: 98%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

.TitleGroup {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TitleGroup .Decorator {
    width: 60%;
    height: 3px;
    background-color: var(--bg-tertiary);
    border-radius: 10px;
}

.menuBtn {
    align-self: flex-end;
    border: none;
    position: absolute;
    right: 10px;
}

.menuBtn:hover {
    align-self: flex-end;
    border-bottom: 2px solid var(--btn-primary);
    
}