.Card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 250px;
    gap: 20px;
    color: var(--prymary);
    background-color: var(--bg-primary);
    margin: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: left;
    transition: 0.3s;
}

.Card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
    cursor :pointer;
}

.Card .imgCard {
    width: 300px;
    height: 220px;
    border-radius: 5px;
    align-self: center;
    background-color: var(--bg-primary);
}

.Card .infoCard {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    background-color: var(--bg-primary);
}

.Card .infoCard .placeName {
    font-size: 25px;
    font-family: var(--title);
    width: 300px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Card .infoCard .RatingGroup {
    display: flex;
    align-items: center;
    width: 210px;
    height: 29px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
}

.Card .RatingGroup .Rating {
    font-family: var(--text);
    padding-top: 5px;
}

.Card .LocationGroup {
    display: flex;
    align-items: center;
    width: 350px;
    min-height: 25px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: 0.3s;
}

.Card .LocationGroup:hover {
   color: var(--secondary);
   transform: scale(1.02);
}

.Card .Price {
    font-family: var(--text);
}

.Card .infoCard .Card-Tags {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    height: 24px;
    gap: 5px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Card .infoCard .Card-Tags .Tag-Type,
.Card .infoCard .Card-Tags .Tag-Charact {
    height: 22px;
    width: max-content;
    font-size: 12px;
    border-radius: 4px;
    padding: 1px;
}

.Card .infoCard .Card-Tags .Tag-Type p,
.Card .infoCard .Card-Tags .Tag-Charact p {
    color: var(--tertiary);
    font-weight: bold;
    margin: 0 5px;
}

.Card .infoCard .Card-Tags .Tag-Charact {
    background-color: var(--bg-tertiary);
}

.Card .infoCard .Card-Tags .Tag-Type {
    background-color: var(--optional1);
}
