.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 290px;
    color: var(--prymary);
    background-color: var(--bg-primary);
    margin: 10px;
    padding:10px 2px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: left;
}

.Card .imgCard{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    align-self: center;
    background-color: var(--bg-primary);
}

.Card .infoCard{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 210px;
    height: 80px;
    padding: 5px 0px;
    background-color: var(--bg-primary);
}

.Card .RatingGroup{
    display: flex;
}

.Card .RatingGroup .Rating {
    font-family: var(--text);
} 

.Card .LocationGroup{
    display: flex;
    gap: 5px;
}

.Card .Price{
 font-family: var(--text);
}