.dash-user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.dash-user-rol-select {
    padding: 5px;
    outline: none;
    border-radius: 4px;
    background-color: transparent;
}

.dash-user-btn {
    border: none;
    font-size: 1.3rem;
    background-color: transparent;
    padding-left: 5px;
}

.dash-user-btn:hover{
    color: var(--btn-primary)
}

.containerName {
    width: 40%;
    display: flex;
    margin: auto;
}

.containerName h3 {
    font-size: 1rem;

}

.selectdata {
    width: 30%;
    margin: auto;
    height: min-content;
}

.selectdata h3 {
    font-size: 1rem;
}

.icon:hover {
    cursor: pointer;
    color: var(--btn-primary);

}

/* STATE COLOR CODE */
.green {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: rgb(73, 224, 73);
    box-shadow: 1px 2px 5px rgba(61, 223, 20, 0.664);
    border-radius: 50%;
}

.orange {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background: rgb(212, 231, 43);
    box-shadow: 1px 2px 5px rgba(180, 192, 13, 0.664);
    border-radius: 50%;

}

.red {
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: rgb(228, 43, 37);
    box-shadow: 1px 2px 5px rgba(255, 0, 0, 0.664);
    border-radius: 50%;
}

.detail-icon-user {
    border: none;
    background: none;
    font-size: 1.7rem;
    font-weight: 700;
}

.detail-icon-user:hover {
    color: var(--btn-primary);
}