.container {
    overflow: auto;
    height: 100vh;
    width: 100%;
    margin: 2rem auto;
}

/* HEADER */
.header {
    display: flex;
    margin: auto 2.3rem;
    justify-content: space-between;
    color: var(--primary);
}

.nameSection {
    margin-top: 20px;
    color: var(--secondary)
}

.filters {
    display: flex;
    gap: 10px;
}

.input {
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--optional1);
    box-shadow: none;
    font-size: 1rem;
    font-family: var(--subtitle);
    background: var(--bg-primary);
    font-weight: 400;
}

.select {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--bg-secondary);
    background-color: transparent;
}


/* TABLE */

.tableResponsive {
    margin: 2.5rem 2.7rem;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.table thead tr {
    background-color: var(--bg-secondary);
    color: #fff;
}

.align-middle {
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--optional1);
}

.table tbody td {
    width: fit-content;
    padding: auto 20px;
}