.detailcontainer {
    width: 100%;
    transition: 2s;
    margin-top: 20px;
    text-align: left;


}

.containerAll {
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 10px;

}

.containerAll p {
    width: 30%;
}

.iconVerified {
    font-size: 1.5rem;
}

.iconVerified:hover {
    color: rgb(59, 240, 99);
    cursor: pointer;
}

.iconAction {
    font-size: 1.5rem;
}

.iconAction:hover {
    color: rgba(247, 81, 81, 0.973);
}