.userContainer {
    width: 90%;
    margin: auto;
    display: flex;
    background: var(--primary);
    color: var(--tertiary);
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 1rem;
    padding-bottom: 5px;
    padding-top: 5px;
}

.userContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.containerName {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.selectdata {
    width: 30%;
    margin: auto;
    height: min-content;
}

.bottontrue {
    background: rgb(199, 64, 64);
    color: var(--tertiary)
}

.bottonfalse {
    background: rgb(25, 221, 162);

}

.icon {
    font-size: 1rem;
    width: 30%;
    margin: auto;
}

.icon:hover {
    cursor: pointer;
    color: var(--optional2);
}