.InfoLocalsProfile-Compontent{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
}

.InfoLocalsProfile-Compontent .Info-left{
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 8px;
}

.InfoLocalsProfile-Compontent .Info-left .Tags-Info-Group{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.InfoLocalsProfile-Compontent .Info-left .Tags-Info-Group .Tag-Type-Eat{
    height: 30px;
    background-color: rgba(71, 99, 183, 0.213);
    border: 1px solid var(--btn-primary);
    color: var(--secondary);
    padding: 4px 8px;
    border-radius: 5px;
}


.InfoLocalsProfile-Compontent .Info-left .Tags-Info-Group .Tag-Type-Local{
    height: 30px;
    background-color: rgba(0, 128, 0, 0.226);
    border: 1px solid var(--optional1);
    color: var(--optional1);
    padding: 4px 8px;
    border-radius: 5px;
}

.InfoLocalsProfile-Compontent .Info-left .Tags-Info-Group .Tag-Text {
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 400;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Name-Group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Name-Group .LocalVerified{
    color: var(--bg-tertiary);
    font-size: 1.5rem;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Name-Group .LocalUnverified {
    color: rgba(62, 62, 62, 0.701);
    font-size: 1.5rem;
}


.InfoLocalsProfile-Compontent .Info-left .Info-Local-Name{
    font-size: 2rem;
    font-family: var(--title);
    font-weight: 400;
    color: var(--primary);
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Local-Location{
    width: 100%;
    font-size: 1rem;
    font-family: var(--title);
    font-weight: 300;
    color: var(--primary);
    transition: 0.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Local-Location:hover{
    transform: scale(1.01);
    color: var(--secondary);
}

.InfoLocalsProfile-Compontent .Info-left .Info-Rating-Group{
    display: flex;
    gap: 10px;
    align-items: center;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Rating-Group .Info-Rating{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--text);
    font-weight: 400;
    font-size: 1.6rem;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Rating-Group .Info-Rating-Number {
    padding-left: 10px;
    border-left: 1px solid var(--btn-secondary);
    font-family: var(--text);
    font-weight: 400;
    font-size: 1.6rem;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Caracteristic-Group{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Caracteristic-Group .Info-C-Title{
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 400;
}

.InfoLocalsProfile-Compontent .Info-left .Info-Caracteristic-Group .Info-C-Tag {
    font-size: 0.8rem;
    font-family: var(--text);
    font-weight: 300;
    color: var(--tertiary);
    background-color: var(--btn-secondary);
    border-radius: 5px;
    padding: 2px 5px;
}


.InfoLocalsProfile-Compontent .Info-rigth {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}


.InfoLocalsProfile-Compontent .Info-rigth .Rating-C-Group{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.InfoLocalsProfile-Compontent .Info-rigth .Info-rigth-title .Info-rigth-decoration{
    height: 2px;
    width: 20%;
    border-radius: 20px;
    background-color: var(--bg-tertiary);
}

.InfoLocalsProfile-Compontent .Info-rigth .Info-rigth-title .ClaimButtom{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--tertiary);
    height: 40px;
    width: 150px;
    background-color: var(--optional2);
    transition: 0.3s;
    cursor: pointer;
}

.InfoLocalsProfile-Compontent .Info-rigth .Info-rigth-title .ClaimButtom:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.02);
}

.InfoLocalsProfile-Compontent .Info-rigth .Rating-C-Group-Container{
    width: 90%;
    padding: 15px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.InfoLocalsProfile-Compontent .Info-rigth .Rating-C-Group-Container .Rating-C-Group{
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 300;

}

.InfoLocalsProfile-Compontent .Info-rigth .Schedule-Info{
    width: 90%;
    padding: 15px;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    letter-spacing: 1px;
}

.InfoLocalsProfile-Compontent .Info-rigth .Schedule-Info .Week-schedule{
    width: 100%;
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 300;
}


@media screen and (max-width:1050px) {
    .InfoLocalsProfile-Compontent {
            width: 85%;
    }
}

@media screen and (max-width:900px) {
    .InfoLocalsProfile-Compontent {
            width: 90%;
    }
}

@media screen and (max-width:750px) {
    .InfoLocalsProfile-Compontent {
        width: 98%;
    }
    .InfoLocalsProfile-Compontent .Info-left .Info-Local-Name {
        font-size: 1.9rem;
    }
    .InfoLocalsProfile-Compontent .Info-left .Info-Local-Location {
        font-size: 0.9rem;
    }
    .InfoLocalsProfile-Compontent .Info-left .Tags-Info-Group .Tag-Type-Eat {
        height: 30px;
        padding: 5px 8px;
    }
    .InfoLocalsProfile-Compontent .Info-left .Tags-Info-Group .Tag-Type-Local {
        height: 30px;
        padding: 5px 8px;
    }
    .InfoLocalsProfile-Compontent .Info-left {

        width: 60%;
        gap: 5px;
    }
    .InfoLocalsProfile-Compontent .Info-rigth {
        width: 40%;
    }
}

@media screen and (max-width:580px) {
    .InfoLocalsProfile-Compontent {
           flex-direction: column;
           align-items: center;
           gap: 10px;
        }
    .InfoLocalsProfile-Compontent .Info-left {
        width: 95%;
        gap: 5px;
    }
    .InfoLocalsProfile-Compontent .Info-rigth {
        width: 95%;
        align-items: flex-start;  
    }
}