.SelectProfileBar-Component{
    display: flex;
    margin-top: 10px;
    width: 70%;
    height: 50px;
    box-shadow: #00000005 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    justify-content: space-between;
}

.SelectProfileBar-Component .Selection-Group{
    display: flex;
}

.SelectProfileBar-Component .Selection-Group .Options{
    display: flex;
    width: fit-content;
    height: 50px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 300;
    color: var(--primary);
    transition: 0.2s;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.137);
}
.SelectProfileBar-Component .Options:hover {
    background-color: var(--btn-secondary);
    color: var(--tertiary);
    box-shadow: none;
}

.SelectProfileBar-Component .Options:active {
    background-color: var(--btn-primary);
    color: var(--tertiary);
}

.SelectProfileBar-Component .CurrentSelection {
    box-shadow: rgb(204, 219, 232) 1px 1px 6px 1px inset, rgba(255, 255, 255, 0.5) -1px -1px 6px 1px inset;
    border-bottom: 3px solid var(--btn-primary);
}

.SelectProfileBar-Component .Create-Review-Option{
    align-self: center;
    justify-self:flex-end;
    font-size: 1rem;
    font-family: var(--text);
    font-weight: 300;
    color: var(--tertiary);
    background-color: var(--btn-secondary);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.SelectProfileBar-Component .Create-Review-Option:hover {
    background-color: var(--btn-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@media screen and (max-width:1050px) {
    .SelectProfileBar-Component {
            width: 85%;
        }
}
@media screen and (max-width:900px) {
    .SelectProfileBar-Component {
        width: 90%;
    }
}
@media screen and (max-width:750px) {
    .SelectProfileBar-Component {
            width: 98%;
        }
}

@media screen and (max-width:550px) {
.SelectProfileBar-Component .Selection-Group .Options {
    font-size: 0.9rem;
        padding: 0 15px;
}
.SelectProfileBar-Component .Create-Review-Option {
    font-size: 0.9rem;
}
}