.Container_Footer{
    width: 100%;
    min-height: 180px;
    max-height: 300px;
    color: var(--tertiary);
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Container_Footer .SocialMedia{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 20%;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
}

.Container_Footer .SocialMedia .SM_IconLinks{
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 100;
    font-family: var(--subtitle);
    padding: 10px;
    gap: 10px;
}

.Container_Footer .SocialMedia .SM_IconLinks:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 5px 8px rgb(0, 0, 0));
    color: var(--secondary);
}

.Container_Footer .PageInformation{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Container_Footer .PageInformation ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Container_Footer .PageInformation li {
    transition: 0.3s;
    font-size: 15px;
    font-family: var(--text);
    width: 190px;
    height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Container_Footer .PageInformation li:hover {
    transform: scale(1.01);
    filter: drop-shadow(2px 5px 8px rgb(0, 0, 0));
    color: var(--secondary);
}