.LocalInfoComplete{
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.LocalInfoComplete .Input-C{
    border: none;
    outline: none;
    height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
}

.LocalInfoComplete .Add-schelude-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-size: 16px;
    min-height: 40px;
    width: 80%;
    border-radius: 5px;
    background-color: var(--btn-primary);
}

.LocalInfoComplete .Add-schelude-button:hover{
    background-color: var(--btn-secondary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.LocalInfoComplete .specialty-List-Select,
.LocalInfoComplete .restaurant-Type-List-Select,
.LocalInfoComplete .characteristic-List-Select,
.LocalInfoComplete .payment-List-Select{
    width: 80%;
    max-height:50px;
}


@media screen and (max-width:750px) {
    
.LocalInfoComplete .Add-schelude-button {
    font-size: 15px;
}

}

@media screen and (max-width: 590px) {

    .LocalInfoComplete {
            width: 90%;
            gap: 10px;
        }

}