/* TERMINOS Y CONDICIONES STYLE */

.Create-Locals-Form .termAndConditions-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Create-Locals-Form .termAndConditions-container .termAndConditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px;
    gap: 10px;
    width: 65%;
    height: 100vh;

}

.Create-Locals-Form .termAndConditions-container .termAndConditions .Logo {
    width: 130px;
    transition: 0.3s;
}

.Create-Locals-Form .termAndConditions-container .termAndConditions .Logo:hover {
    transform: scale(1.1);

}

.Create-Locals-Form .termAndConditions-container .termAndConditions h2 {
    padding: 20px;
    color: var(--primary);
}

.Create-Locals-Form .termAndConditions-container .termAndConditions h2 span {
    color: var(--secondary);
}

.Create-Locals-Form .termAndConditions-container .termAndConditions .termsButtons {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.Create-Locals-Form .termAndConditions-container .termAndConditions button {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: var(--subtitle);
    background-color: var(--bg-secondary);
    color: var(--tertiary);
    transition: 0.3s;
    margin-bottom: 30px;
}



.Create-Locals-Form .termAndConditions-container .termAndConditions .Ok:hover {
    background-color: var(--bg-tertiary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Create-Locals-Form .termAndConditions-container .termAndConditions .No:hover {
    background-color: var(--optional2);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}