.Landing{
    position: relative;
    width: 100%;
    height: calc(100vh);
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: var(--bajo-2);
}


.Landing .CarrouselItem{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
}   

.Landing .CarrouselItem .SlideItem1 img,
.Landing .CarrouselItem .SlideItem2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: var(--bajo-1);
}

.Landing .CarrouselItem .Slide-Arrow{
    position: absolute;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.27);
    font-weight: 100;
    bottom: 20px;
    transition: 0.3s;
}
.Landing .CarrouselItem .Slide-Arrow2 {
    position: absolute;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.27);
    font-weight: 100;
    top: 20px;
    transition: 0.3s;
}

.Landing .CarrouselItem .Slide-Arrow:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgba(0, 0, 0, 0.53);
}

.Landing .CarrouselItem .Slide-Arrow2:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgba(0, 0, 0, 0.53);
}

/*! Slide 1 */

.Landing .CarrouselItem .SlideItem1{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
        /* ff 3.6+ */
            background: -moz-linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 0.71) 26%, rgba(255, 255, 255, 0) 100%);
        
            /* safari 5.1+,chrome 10+ */
            background: -webkit-linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 0.71) 26%, rgba(255, 255, 255, 0) 100%);
        
            /* opera 11.10+ */
            background: -o-linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 0.71) 26%, rgba(255, 255, 255, 0) 100%);
        
            /* ie 6-9 */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4', GradientType=0);
        
            /* ie 10+ */
            background: -ms-linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 0.71) 26%, rgba(255, 255, 255, 0) 100%);
        
            /* global 94%+ browsers support */
            background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 0.71) 26%, rgba(255, 255, 255, 0) 100%);
}

.CarrouselItem .SlideItem1 .FirstTitle{
    position: relative;
    width: 500px;
    height: calc(100vh - 50px);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-left: 50px;
}

.SlideItem1 .FirstTitle h1{
    font-size: 41px;
    color: var(--primary);
    font-family: var(--title);
    text-align: center;
    font-weight: 600;
    text-shadow:  2px 2px 4px rgb(66, 66, 66);
   
}
.SlideItem1 .FirstTitle span {
    color: var(--secondary);
    
}

.SlideItem1 .FirstTitle h2 {
    font-size: 26px;
    font-family: var(--subtitle);
    text-align: center;
    font-weight: 300;
    /* font-weight: 300; */
}

.SlideItem1 .FirstTitle button {
    font-size: 20px;
    font-family: var(--text);
    border: none;
    width: 200px;
    height: 50px;
    background-color: var(--bg-tertiary);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    
}

.SlideItem1 .FirstTitle button:hover {
    color: var(--secondary);
    background-color: var(--bg-secondary);  
}

.SlideItem1 .FirstTitle a {
    align-self: center;
}
/*! Slide 2 */
.Landing .CarrouselItem .SlideItem2 {
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* ff 3.6+ */
        background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 0.71) 86%, rgba(244, 244, 244, 1) 100%);
    
        /* safari 5.1+,chrome 10+ */
        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 0.71) 86%, rgba(244, 244, 244, 1) 100%);
    
        /* opera 11.10+ */
        background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 0.71) 86%, rgba(244, 244, 244, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4F4F4', endColorstr='#FFFFFF', GradientType=0);
    
        /* ie 10+ */
        background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 0.71) 86%, rgba(244, 244, 244, 1) 100%);
    
        /* global 94%+ browsers support */
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(244, 244, 244, 0.71) 86%, rgba(244, 244, 244, 1) 100%);
   }

.CarrouselItem .SlideItem2 .SecondTitle {
    position: relative;
    width: 500px;
    height: calc(100vh - 50px);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;
    margin-right: 50px;
    text-align: center;
}

.SlideItem2 .SecondTitle h2 {
    font-size: 41px;
    color: var(--primary);
    font-family: var(--title);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgb(66, 66, 66);
}

.SlideItem2 .SecondTitle span {
    font-weight: 700;
    color: var(--secondary);
}

.SlideItem2 .SecondTitle h3 {
    font-size: 26px;
    font-family: var(--subtitle);
    font-weight: 300;
}

.SlideItem2 .SecondTitle button {
    font-size: 20px;
    font-family: var(--text);
    border: none;
    width: 200px;
    height: 50px;
    align-self: center;
    background-color: var(--bg-tertiary);
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
}

.SlideItem2 .SecondTitle button:hover {
    color: var(--secondary);
    background-color: var(--bg-secondary);
}

.SlideItem2 .SecondTitle a {
    align-self: center;
}


@media screen and (max-width: 2000px) {

    .CarrouselItem .SlideItem1 .FirstTitle {
        padding: 40px;
        margin-left: 40px;
    }

    .CarrouselItem .SlideItem2 .SecondTitle {
        padding: 40px;
        margin-right: 40px;
    }

    .CarrouselItem .SlideItem3 .ThirdTitle {
        padding: 40px;
    }

    .SlideItem1 .FirstTitle h1 {
        font-size: 40px;
    }

    .SlideItem1 .FirstTitle h2 {
        font-size: 25px;
    }

    .SlideItem2 .SecondTitle h2 {
        font-size: 40px;
    }

    .SlideItem2 .SecondTitle h3 {
        font-size: 25px;
    }

    .SlideItem3 .ThirdTitle h2 {
        font-size: 55px;
    }

    .SlideItem3 .ThirdTitle h3 {
        font-size: 30px;
    }

}

@media screen and (max-width: 900px) {

    .CarrouselItem .SlideItem1 .FirstTitle {
            margin-left: 20px;
        }
    
        .CarrouselItem .SlideItem2 .SecondTitle {
            margin-right: 20px;
        }
    
        .SlideItem1 .FirstTitle h1 {
            font-size: 35px;
        }
    
        .SlideItem1 .FirstTitle h2 {
            font-size: 20px;
        }
    
        .SlideItem2 .SecondTitle h2 {
            font-size: 35px;
        }
    
        .SlideItem2 .SecondTitle h3 {
            font-size: 20px;
        }
    
        .SlideItem3 .ThirdTitle h2 {
            font-size: 45px;
        }
    
        .SlideItem3 .ThirdTitle h3 {
            font-size: 25px;
        }
}

@media screen and (max-width: 750px) {

    .CarrouselItem .SlideItem1 .FirstTitle {
            margin-left: 10px;
        }
    
        .CarrouselItem .SlideItem2 .SecondTitle {
            margin-right: 10px;
        }
    
        .SlideItem1 .FirstTitle h1 {
            font-size: 30px;
        }
    
        .SlideItem1 .FirstTitle h2 {
            font-size: 18px;
        }
    
        .SlideItem2 .SecondTitle h2 {
            font-size: 30px;
        }
    
        .SlideItem2 .SecondTitle h3 {
            font-size: 18px;
        }
    
        .SlideItem3 .ThirdTitle h2 {
            font-size: 40px;
        }
    
        .SlideItem3 .ThirdTitle h3 {
            font-size: 18px;
        }
}

@media screen and (max-width: 550px) {

    .Landing .Carrousel .CarrouselItem .SlideItem1 {
            justify-content: center
    }

    .Landing .Carrousel .CarrouselItem .SlideItem2 {
        justify-content: center
    }

    .CarrouselItem .SlideItem1 .FirstTitle {
            margin-left: 0px;
        }
    
        .CarrouselItem .SlideItem2 .SecondTitle {
            margin-right: 0px;
        }

        .SlideItem1 .FirstTitle h1 {
            font-size: 28px;
        }
    
        .SlideItem1 .FirstTitle h2 {
            font-size: 18px;
        }
    
        .SlideItem2 .SecondTitle h2 {
            font-size: 28px;
        }
    
        .SlideItem2 .SecondTitle h3 {
            font-size: 18px;
        }
    
        .SlideItem3 .ThirdTitle h2 {
            font-size: 35px;
        }
    
        .SlideItem3 .ThirdTitle h3 {
            font-size: 25px;
        }
}


/* 
.Landing .QueComer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin-left: 15vw;
}

.icon-container{
    background-color: rgb(214, 214, 214);
    padding: 15px 30px;
    border-radius: 10px;
    transition: .3s;
}

.icon-container:hover{
    background-color: var(--secondary);
    scale: 1.05;
    cursor:pointer;
}

.icon-container:hover .icon{
    scale:1.15;
}

.text-icon{
    color: black;
    margin: 0;
    text-align: center;
}

.icon{
    width: 50px;
    transition: .3s;
}

.title{
    font-size: 3.5em;
    text-align: center;
    color: black;
    opacity:0;
    scale:.6;
    animation: aparecer .6s ease-in-out forwards;
}

@keyframes aparecer{
    70%{
        scale:1.1;

    }
    100%{
        scale:1;
        opacity: 1;
    }
}

.saltar{
    text-align: center;
    margin-top: 10vh;
    font-size: .9em;
    color: var(--primary);
    cursor:pointer
}

.select-container{
    text-align: center;
}

.select{
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 1.4em;
    border: 0;
    outline: 0;
    cursor:pointer;
}

option:first-child{
    color: var(--secondary)
} */