.Filters{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 60px;
   padding: 0 20px;
}

.Filters .Left-Home-Buttons{
    display: flex;
    gap: 10px;
}

.Filters .AddPlace{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: var(--tertiary);
    width: 180px;
    height: 40px;
    border:none;
    background-color: var(--btn-secondary);
    border-radius: 7px;
    gap: 5px;
    padding: 7px;
    transition: 0.3s;
    cursor: pointer;
}

.Filters .AddPlace:hover {
    background-color: var(--btn-primary);
    box-shadow: rgba(0, 0, 0, 0.347) 0px 1px 4px;
}

.Filters .AddPlace .AddPlace_Text {
    font-size: 17px;
    font-family: var(--subtitle);
    font-weight: 200;
    
}

.Filters .ResetHome{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: var(--tertiary);
    width: 50px;
    height: 40px;
    border: none;
    background-color: var(--btn-secondary);
    border-radius: 7px;
    gap: 5px;
    padding: 7px;
    transition: 0.3s;
    cursor: pointer;
}

.Filters .ResetHome:hover {
    background-color: var(--btn-primary);
    box-shadow: rgba(0, 0, 0, 0.347) 0px 1px 4px;
}
.Filters .FiltersGroup{
    display: flex;
    gap: 10px;
    align-items: center;
}


.Filters .FiltersGroup select {
    height: 35px;
    outline: none;
    background-color: var(--bg-primary);
    font-size: 15px;
    font-family: var(--subtitle);
    color: var(--primary);
    font-weight: 400;
    padding-left: 10px;
    border: 1px solid var(--bg-secondary);
    border-radius: 7px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.195) 0px 1px 1px;

}

.Filters .FiltersGroup select:hover {
    box-shadow: rgba(0, 0, 0, 0.195) 0px 2px 3px;
    border-radius: 10px;

}

.Filters .FiltersGroup select option{
    background-color:var(--bg-primary);
    font-family: var(--subtitle);
    font-size: 15px;
}

.Filters .FiltersGroup .FilterOff{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
    width: 160px;
    height: 40px;
    border: none;
    background-color: var(--btn-secondary);
    border-radius: 7px;
    gap: 5px;
    padding: 7px;
    transition: 0.3s;
    cursor: pointer;
}
.Filters .FiltersGroup .FilterOn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
    width: 160px;
    height: 40px;
    border: none;
    background-color: var(--btn-primary);
    border-radius: 7px;
    gap: 5px;
    padding: 7px;
    transition: 0.3s;
    cursor: pointer;
}

.Filters .FiltersGroup .FilterOff h3,
.Filters .FiltersGroup .FilterOn h3{
    font-size: 17px;
    font-weight: 200;
    font-family: var(--subtitle);
}