.pagination_on{
    color: var(--secondary);
}

.pagination_off{
    color: var(--primary);
}

.pagination_off:hover{
    cursor: pointer;
}

.containerPagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.paginationIcon{
    font-size: 1.5rem;
}

.paginationIcon:hover{
    cursor: pointer;
}