.restaurants-container {
    overflow: auto;
}
.state {
    width: 30%;
    margin: auto;
}

.userAdd {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(238, 236, 236, 0.178);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    z-index: var(--alto-3);
}

.RestaurantDetail {
    width: 30%;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
}

.detail-icon-dash-res {
    border: none;
    background: none;
    font-size: 1.7rem;
    font-weight: 700;
}

.detail-icon-dash-res:hover {
    color: var(--btn-primary);
}

.restaurants-container {
    height: 100vh;
    width: 100%;
    margin: 2rem auto;
}

.table-responsive {
    margin: 2.5rem 2.7rem;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.table thead tr {
    background-color: var(--bg-secondary);
    color: #fff;
}

.align-middle {
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--optional1);
}

.table tbody tr:hover {
    background-color: var(--bg-opac);
}

.restaurants-title-bar{
    display: flex;
    margin: auto 2.3rem;
    justify-content: space-between;
    color: var(--primary);
}

.filter-restaurants-group {
    display: flex;
    gap: 10px;
}

.filter-restaurants-group select {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--bg-secondary);
    background-color: transparent;
}
.filter-restaurants-group input {
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--optional1);
    box-shadow: none;
    font-size: 1rem;
    font-family: var(--subtitle);
    background: var(--bg-primary);
    font-weight: 400;

}

.search-dash-restaurants input:focus {
    outline: none;
    box-shadow: none;
}

.search_home .searchs .icosearch {
    transition: 0.3s;
    margin: auto;
    width: 10%;
}

.no-results-dash {
    text-align: center;
    margin: auto;
}

.dash-res-button {
    border: none;
    font-size: 2rem;
    background-color: transparent;
}

.dash-res-button:hover {
    color: var(--btn-primary);
}

.dash-res-anchor {
    text-decoration: underline;
}

.dash-res-anchor:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--btn-primary);
}

.res-icons {
    margin-right: 2px;
    padding: 5px;
    background-color: var(--bg-secondary);
    color: #fff;
    border: none;
    border-radius: 8px;
}

.assign:hover {
    background-color: var(--optional1);
}

.deny:hover {
    background-color: var(--optional2);
}