.containerCardsall{
    width: 100%;
    display: block;
    height: calc(100vh - 100px);
}
.ContainerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
    color: var(--primary);
    background-color: var(--bg-primary);
}
