.detailRestaurantContainer {
    width: 100%;
}

.localDetail {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.localDetail p {
    font-size: 1rem;
}

.userDetail {
    display: flex;
    gap: 10px;
    font-size: 2rem;
}

.localDetail {
    width: 100%;
}