.detailRestaurantContainer {
    width: 100%;
}

.localDetail {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.localDetail p {
    font-size: 1rem;
}

.userDetail {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    gap: 30px;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.048);
    border-radius: 10px;
}

.userDetail p {
    font-size: 1rem;
    margin: auto;
}

.localDetail {
    width: 100%;
}