.Reviews{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Reviews .Reviews-Title {
    font-size: 30px;
    padding-right: 20px;
    border-right: 1px solid var(--primary);
    font-family: var(--title);
}

.Reviews .Reviews-List {
    width: 98%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    gap: 15px;
}

 .Reviews .TitleGroup {
    position: relative;
    z-index: 99;
    width: 100%;
    height: 10%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.TitleGroup .Decorator {
    width: 60%;
    height: 3px;
    background-color: var(--bg-tertiary);
    border-radius: 10px;
}

.Reviews-List .ReviewCard{
    display: flex;
    width: 90%;
    height: 300px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Reviews-List .ReviewCard:hover {
    transform: scale(1.02);
}

.Reviews-List .ReviewCard .LeftInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 280px;
    padding: 20px;
    border-right: 1px solid var(--bg-tertiary);
}
.Reviews-List .ReviewCard .RigthImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 280px;
    padding: 10px;
}

.Reviews-List .ReviewCard .RigthImg img{
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.ReviewCard .LeftInfo .RatingGroup{
    display: flex;
    gap: 5px;
}

.ReviewCard .LeftInfo h3{
    font-size: 25px;
    width: fit-content;
    color: var(--primary);
    font-family: var(--title);
    font-weight: 700;
    border-bottom: 2px solid var(--bg-tertiary);
    border-radius: 0 0 0 10px;

}


.ReviewCard .LeftInfo .RatingGroup h4 {
    font-size: 15px;
    color: var(--primary);
    font-family: var(--subtitle);
    font-weight: 600;

}
.ReviewCard .LeftInfo .OpinionGroup h4 {
    font-size: 15px;
    color: var(--primary);
    font-family: var(--subtitle);
    font-weight: 600;
}

.ReviewCard .LeftInfo .OpinionGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
.ReviewCard .LeftInfo .OpinionGroup p {
    font-size: 15px;
    color: var(--primary);
    font-family: var(--text);
    font-weight: 400;
    padding: 10px;
}