.Pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 5px;
}

.Pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;

}

.Pagination .page-num:hover {
    background-color: var(--secondary);
    color: var(--bg-primary);
}

.Pagination .active {
    background-color: var(--secondary);
    color: var(--bg-primary);
}