.Pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid var(--bg-tertiary);
    transition: 0.3s;
    gap: 3px;
    border-radius: 5px;
    width: fit-content;
    margin: 10px auto;
    padding-bottom: 4px;
}

.Pagination .page-num{
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.Pagination .page-num:hover {
    background-color: rgba(0, 0, 0, 0.196);
    color: var(--bg-primary);
}

.Pagination .active {
    background-color: var(--secondary);
    color: var(--bg-primary);
}