.LoginContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.LoginContainer:hover{
backdrop-filter: blur(3px);
}

.LoginContainer .login{
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.338) 0px 3px 8px;
    opacity: 0;
    transition: 1s;
}

.LoginContainer:hover .login{
    opacity: 1;
}

.LoginContainer .login .CloseIcon{
    position: absolute;
    color: var(--primary);
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
    transition: 0.3s;
    
}

.LoginContainer .login .CloseIcon:hover {
    color: var(--secondary);
    transform: scale(1.3);
}

.LoginContainer .login .title{
    display: flex;
    flex-direction: column;
}
.LoginContainer .login .title h3{
    animation: aparecer .5s ease-in-out;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--title);
}

.LoginContainer .login .title .Iniciar {
    color: var(--secondary);
}
.LoginContainer .login .title .Sesion {
    color: var(--primary);
}

.login .formulario .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.login .formulario .form .PasswordGroup{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.login .formulario .form .PasswordGroup .ojo{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.login .formulario .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .formulario .form input{
    height: 25px;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    font-family: var(--subtitle);
    transition: 0.3s;
}
.login .formulario .form button {
height: 35px;
border-radius: 20px;
border: none;
font-size: 15px;
font-family: var(--subtitle);
background-color: var(--bg-secondary);
color: var(--tertiary);
transition: 0.3s;
}

.login .formulario .form button:hover {
    background-color: var(--bg-tertiary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login .formulario .form .loginwith{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--bg-tertiary);
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
    font-family: var(--subtitle);
    transition: 0.3s;
    cursor: pointer;
    animation: aparecer .5s ease-in-out;
}

.login .formulario .form .loginwith:hover {
    background-color: var(--bg-secondary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login .formulario .form .loginwith .google{
    font-size: 25px;
}

.login .formulario .form .registrarme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
}
.login .formulario .form .registrarme p {
    color: var(--primary);
    font-size: 15px;
}
.login .formulario .form .registrarme h5{
    color: var(--secondary);
    font-size: 14px;
    border-bottom: 1px solid var(--primary);
    border-radius:0 0 0 5px;
    transition: 0.3s;
}

.login .formulario .form .registrarme:hover h5{
    color: var(--optional2);
    border-bottom: 1px solid var(--secondary);
}

.login .Registro{
    font-size: 40px;
    font-weight: bold;
    font-family: var(--title);
    border-bottom: 2px solid var(--secondary);
    border-radius: 0 0 0 10px;
    animation: aparecer .5s ease-in-out;
}


.invalid {
    text-align: center;
    opacity: 0;
    color: var(--optional2);
    animation: aparecer .4s ease-in-out forwards
}

@keyframes aparecer {
    0% {
        scale: 0;
        opacity: 0
    }

    80% {
        scale: 1.05
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.scale-up-bottom {
    -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-tr {
    -webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-15 0:21:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-15 0:43:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bottom {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

@keyframes scale-up-bottom {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

/* 
.container{
    align-self: center;
    height: 300px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    animation: aparecer .5s ease-in-out;
    box-shadow: 0px 0px 20px rgb(208, 208, 208);
}


.loginwith{
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    margin-left: 49%;
    margin-top: 10px;
    transform: translateX(-46%);
    width: 225px;
    height: 40px;
    cursor:pointer;
    transition: .3s;
    animation: aparecer .5s ease-in-out;
    display:flex;   
    align-items: center;
    justify-content: center;
}
.loginwith:hover{
    background-color: #ababab;
}

.google{
    margin: 7px 12px;
    width: 25px;
}



.input{
    text-align: center;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    height: 30px;
    width: 250px;
    font-size: 1em;
    border: 0;
    background-color: transparent;
}



.input:focus{
    outline: none;
}

.registro{
    font-size: .85em;
    text-align: center;
    margin-top: 20px;
    color: grey;
}

.registrarme{
    text-align: center;
    font-size: .95em;
    color: var(--secondary);
    margin-top: 5px;
    cursor:pointer;
}

.button{
    height: 40px;
    width: 225px;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: var(--secondary);
    color: white;
    cursor:pointer;
    border-style:groove;
    border:0;
    margin-left: 49%;
    margin-top: 20px;
    transform: translateX(-46%);
    transition: .3s ease-in-out;
}

.ojo{
    height: 20px;
    margin: -24px 250px;
    position: absolute;
    cursor:pointer;
}




@keyframes aparecer{
    0%{
        scale:0;
        opacity:0
    }80%{
        scale:1.05
    }100%{
        scale:1;
        opacity:1;
    }
}

.invalid{
    margin-top: 490px;
    text-align: center;
    opacity:0;
    color: rgb(246, 31, 31);
    animation: aparecer .4s ease-in-out forwards
}



 */
