*{
    margin:0;
    padding:0;
    font-family: var(--title);
    transition: .5s
}

.container{
    display:inline-block;
    height: 300px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    animation: aparecer .5s ease-in-out;
    box-shadow: 0px 0px 20px rgb(208, 208, 208);
}

.desc{
    margin-top: 20px;
    text-align: center;
    font-size: 1.8em;
    color: rgb(255, 136, 0);
}

.loginwith{
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    /* position: absolute; */
    margin-left: 49%;
    margin-top: 10px;
    transform: translateX(-46%);
    width: 225px;
    height: 40px;
    cursor:pointer;
    transition: .3s;
    animation: aparecer .5s ease-in-out;
    display:flex;
}
.loginwith:hover{
    background-color: #ababab;
}

.google{
    margin: 7px 12px;
    width: 25px;
}

.texto{
    margin: 8px 6px;
    /* display: flex; */
    /* position:absolute; */
    font-weight: 600;
}

.input{
    text-align: center;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    height: 30px;
    width: 250px;
    font-size: 1em;
    border: 0;
    background-color: transparent;
}

.input:first-child{
    margin-top: 20px;
}

.input:focus{
    outline: none;
}

.registro{
    font-size: .85em;
    text-align: center;
    margin-top: 20px;
    color: grey;
}

.registrarme{
    text-align: center;
    font-size: .95em;
    color: var(--secondary);
    margin-top: 5px;
    cursor:pointer;
}

.button{
    height: 40px;
    width: 225px;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: var(--secondary);
    color: white;
    cursor:pointer;
    border-style:groove;
    border:0;
    margin-left: 49%;
    margin-top: 20px;
    transform: translateX(-46%);
    transition: .3s ease-in-out;
}

.ojo{
    height: 20px;
    margin: -24px 250px;
    position: absolute;
    cursor:pointer;
}

.button:hover{
    background-color: transparent;
    color: #1c9477;
}

.titles{
    font-family:var(--title);
    height: 40vh;
    width: 100vw;
    text-align: center;
    position: absolute;
    /* background-color: red; */
    /* margin: -50px 0px 0px 30vw; */
}

.title{
    /* position: absolute; */
    /* margin-top: 65px;
    margin-left: 170px; */
    color: var(--secondary);
    font-size: 4em;
    opacity:0;
    animation: aparecer .6s ease-in-out forwards;
    /* z-index: 2; */
}

.title1{
    margin-top: -30px;
    /* margin-left: 170px; */
    /* position: absolute; */
    color: rgb(0, 0, 0);
    font-size: 3.8em;
    opacity:0;
    height: 50px;
    animation: aparecer .6s .2s ease-in-out forwards;
}

@keyframes aparecer{
    0%{
        scale:0;
        opacity:0
    }80%{
        scale:1.05
    }100%{
        scale:1;
        opacity:1;
    }
}

.icon{
    height: 30px;
}

.invalid{
    margin-top: 490px;
    text-align: center;
    opacity:0;
    color: rgb(246, 31, 31);
    animation: aparecer .4s ease-in-out forwards
}

.img{
    margin-top: 70px;
    height: 500px;
}

.login{
    height: 100vh;
    width: 50vw;
    margin-top: 50px;
}

.formulario{
    position: absolute;
    margin-top: 150px;
    width:100vw;
    height: 50vh;
    text-align: center;
}