.LoginContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--alto-5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    backdrop-filter: blur(3px);
}

/* .LoginContainer:hover{
backdrop-filter: blur(3px);
} */

.LoginContainer .login{
    position: relative;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.338) 0px 3px 8px;
    opacity: 1;
    transition: 0.3s;
}

.LoginContainer .register{
    position: relative;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.338) 0px 3px 8px;
    opacity: 1;
    transition: 1s;
}


.LoginContainer:hover .login{
    opacity: 1;
}

.LoginContainer:hover .register {
    opacity: 1;
}

.LoginContainer .login .CloseIcon{
    position: absolute;
    color: var(--primary);
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
    transition: 0.3s;
    
}

.LoginContainer .login .CloseIcon:hover {
    color: var(--secondary);
    transform: scale(1.3);
}

.LoginContainer .login .title{
    display: flex;
    flex-direction: column;
}
.LoginContainer .login .title h3{
    animation: aparecer .5s ease-in-out;
    font-size: 40px;
    font-weight: bold;
    font-family: var(--title);
}

.LoginContainer .login .title .Iniciar {
    color: var(--secondary);
}
.LoginContainer .login .title .Sesion {
    color: var(--primary);
}

.login .formulario .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.login .formulario .form .PasswordGroup{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.login .formulario .form .PasswordGroup .ojo{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: var(--alto-5);
}
.login .formulario .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .formulario .form input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    font-family: var(--subtitle);
    transition: 0.3s;
    border: none;
    background-color: rgb(243, 243, 243);
    /* font-weight: 600; */
    text-align: center;
}

.login .formulario .form input:focus{
    background-color: rgb(252, 252, 252);
    outline: 0;
}

.login .formulario .form button {
width: 100%;
height: 35px;
border-radius: 20px;
border: none;
font-size: 15px;
font-family: var(--subtitle);
background-color: var(--bg-secondary);
color: var(--tertiary);
transition: 0.3s;
}

.login .formulario .form button:hover {
    background-color: var(--bg-tertiary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login .formulario .form .loginwith{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(198, 198, 198);
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
    font-family: var(--subtitle);
    transition: 0.3s;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
    animation: aparecer .5s ease-in-out;
}

.formulario .form .loginwith:hover {
    background-color: var(--bg-secondary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login .formulario .form .loginwith .google{
    font-size: 25px;
}

.form .loginwith:hover {
    background-color: var(--bg-secondary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form .loginwith .google{
    font-size: 25px;
}

.formulario .form .loginwith{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(198, 198, 198);
    height: 35px;
    border-radius: 20px;
    font-size: 15px;
    font-family: var(--subtitle);
    transition: 0.3s;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight: 600;
    animation: aparecer .5s ease-in-out;
}

.login .formulario .form .registrarme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
}
.login .formulario .form .registrarme p {
    color: var(--primary);
    font-size: 15px;
}
.login .formulario .form .registrarme h5{
    color: var(--secondary);
    font-size: 14px;
    /* border-bottom: 1px solid var(--primary); */
    /* border-radius:0 0 0 5px; */
    transition: 0.3s;
}

.login .formulario .form .registrarme:hover h5{
    color: var(--btn-secondary);
    /* border-bottom: 1px solid var(--secondary); */
}


.register .Registro{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--title);
    color: var(--secondary);
    /* border-bottom: 2px solid var(--secondary); */
    border-radius: 0 0 0 10px;
    animation: aparecer .5s ease-in-out;
}

.LoginContainer .register .CloseIcon {
    position: absolute;
    color: var(--primary);
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
    transition: 0.3s;

}

.LoginContainer .register .CloseIcon:hover {
    color: var(--secondary);
    transform: scale(1.3);
}



.register .formulario .form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.register .formulario .form .PasswordGroup {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}



.register .formulario .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .formulario .form input {
    width: 100%;
    height: 25px;
    border-radius: 12px;
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    font-size: 15px;
    font-family: var(--subtitle);
    transition: 0.3s;
}
.register .formulario .form input:hover {
    border-radius: 20px;
}

.register .formulario .form button {
    height: 35px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: var(--subtitle);
    background-color: var(--bg-secondary);
    color: var(--tertiary);
    transition: 0.3s;
}

.register .formulario .form button:hover {
    background-color: var(--bg-tertiary);
    color: var(--tertiary);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.register .formulario .form .registrarme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
}

.register .formulario .form .registrarme p {
    color: var(--primary);
    font-size: 15px;
}

.register .formulario .form .registrarme h5 {
    color: var(--secondary);
    font-size: 14px;
    /* border-bottom: 1px solid var(--primary); */
    /* border-radius: 0 0 0 5px; */
    transition: 0.3s;
}

.register .formulario .form .registrarme:hover h5 {
    color: var(--btn-secondary);
    /* border-bottom: 1px solid var(--secondary); */
}


.login .formulario .Input-Email-Group{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login .Message-Ux-Nubecita{
    color: var(--optional2);
    z-index: var(--alto-5);
}

@media screen and (max-width:550px) {
    .LoginContainer .login {
            width: 300px;
            height: 350px;
        }

        .LoginContainer .register {
            width: 300px;
            height: 500px;
        }

        .LoginContainer .login .title h3 {
            font-size: 30px;
        }

        .login .formulario .container {
          width: 200px;
        }
        .register .formulario .container {
            width: 200px;
        }
        
        .LoginContainer .login .formulario .container .form input{
            height: 20px;
        }

        .LoginContainer .register .formulario .container .form input{
            height: 20px;
        }
}

/* 
.container{
    align-self: center;
    height: 300px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    animation: aparecer .5s ease-in-out;
    box-shadow: 0px 0px 20px rgb(208, 208, 208);
}


.loginwith{
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    margin-left: 49%;
    margin-top: 10px;
    transform: translateX(-46%);
    width: 225px;
    height: 40px;
    cursor:pointer;
    transition: .3s;
    animation: aparecer .5s ease-in-out;
    display:flex;   
    align-items: center;
    justify-content: center;
}
.loginwith:hover{
    background-color: #ababab;
}

.google{
    margin: 7px 12px;
    width: 25px;
}



.input{
    text-align: center;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    height: 30px;
    width: 250px;
    font-size: 1em;
    border: 0;
    background-color: transparent;
}



.input:focus{
    outline: none;
}

.registro{
    font-size: .85em;
    text-align: center;
    margin-top: 20px;
    color: grey;
}

.registrarme{
    text-align: center;
    font-size: .95em;
    color: var(--secondary);
    margin-top: 5px;
    cursor:pointer;
}

.button{
    height: 40px;
    width: 225px;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: var(--secondary);
    color: white;
    cursor:pointer;
    border-style:groove;
    border:0;
    margin-left: 49%;
    margin-top: 20px;
    transform: translateX(-46%);
    transition: .3s ease-in-out;
}

.ojo{
    height: 20px;
    margin: -24px 250px;
    position: absolute;
    cursor:pointer;
}




@keyframes aparecer{
    0%{
        scale:0;
        opacity:0
    }80%{
        scale:1.05
    }100%{
        scale:1;
        opacity:1;
    }
}

.invalid{
    margin-top: 490px;
    text-align: center;
    opacity:0;
    color: rgb(246, 31, 31);
    animation: aparecer .4s ease-in-out forwards
}



 */
