
.all_navbar{
    color: var(--primary);
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.156);
}

.all_navbar .Logo{
width: 130px;
margin: 0;
}

.all_navbar .Logo:hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 1px rgba(17, 17, 17, 0.642))
}


.UserGroup .nav_login{
    display: flex;
    gap: 3px;
    align-items: center;
}

.UserGroup:hover .nav_login{
    transform: scale(1.1);
    transition: 0.2s;
    
}
.UserGroup .nav_login .UserIcon {
    font-size: 20px;
}
.UserGroup .nav_login .LogIn {
    font-size: 18px;
    font-family: var(--title);
    font-weight: 100;
}
.UserGroup:hover .nav_login .LogIn {
    color: var(--secondary);
    transition: 0.2s;
}
.UserGroup:hover .nav_login svg {
    color: var(--secondary);
    transition: 0.1s;
}